<<<<<<< HEAD
.close_tag {
    color: black;
}
.close_tag :hover {
    color: red;
}

.del_icon {
    color: red;
}

html {
    overflow-x: hidden;
=======
.close_tag {
    color: black;
}
.close_tag :hover {
    color: red;
}

.del_icon {
    color: red;
}

body {
  overflow-x: hidden;
>>>>>>> 14bae3a3f2fad402a2b66d2121b52ba2b5da458f
}